
= form_for @product, html: {class: 'create-or-edit-product-form'}  do |f|
  - if @product.errors.any?
    .row
      .columns
        #error_explanation
        %h2
          = pluralize(@product.errors.count, "error")
          prohibited this product from being saved:
        %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .row
    .columns
      = f.label :name
      = f.text_field :name
  .row
    .columns
      = f.label :description
      = f.text_area :description
  .row
    .columns
      = f.label :price_in_cents
      = f.number_field :price_in_cents
  .row
    .columns
      .actions= f.submit submit_button_label, { class: "submit-button" }

