<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="products">
  <%= render @products %>
</div>

<!-- renders a helpful message with numbers of displayed vs. total entries -->
<h1><small><%= page_entries_info @products %></small></h1>


<!-- <h1>Products (<%= @products.length %>)</h1> -->
<%= link_to "New Product", "/products/new" %>


<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>

<hr />


<script type="text/javascript">
</script>
