
<h1>Products (<%= @products.length %>)</h1>
<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>

    <p><a href="/products/<%= product.id %>" > <%= product.name %></a>

, <%= product.description %>
  Formatted price <%= product.formatted_price %>
  </p>
<% end %>




<hr />
