<div class="columns">

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>

  <div class="products-search-bar">
    <div class="search-box">
      <%= text_field_tag :search, params[:search] %>
    </div>

    <div class="search-button">
      <%= submit_tag "Search", :class => "button postfix", :id => "products-search-button"  %>
    </div>
  </div>

  <% end %>

  <% if current_user %>
  <%= link_to "New Product", "/products/new" %>
  <% end %>

  <hr />

<div id="products">
  <%= render @products %>
</div>



<h1><small><%= page_entries_info @products %></small></h1>
<%= paginate @products %>


</div>
</div>


